[user]
	email = schnell18@gmail.com
	name = Justin Zhang
[core]
	editor = nvim
	autocrlf = input
[color]
	ui = true
[merge]
	tool = vimdiff
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[credential]
	helper = store
[init]
	defaultBranch = master
