[user]
	email = schnell18@gmail.com
	name = Justin Zhang
	signingkey = 8C0D112F748CC82E
[core]
	editor = nvim
	autocrlf = input
[color]
	ui = true
[merge]
	tool = vimdiff
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	dfs = diff --staged
	mgf = merge --ff-only
	logg = log --graph --decorate --oneline --abbrev-commit --all
	logl = log --graph --decorate --oneline --abbrev-commit
	logp = log --oneline --abbrev-commit
	unstage = reset HEAD --
	last = log -1 HEAD
	desc = describe
[credential]
	helper = store
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg2
[url "git@github.com:"]
	insteadOf = https://github.com/

