[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:schnell18/dotneovim.git
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = https://github.com/schnell18/dottmux.git
